.input
{
    width: 805px;
 
}
select
{
    width: min-content;
}

#outer
{
   
    margin-left: 220px;
    
    width:1080px;
    height: 400px;
    padding-left: 150px;

}
#img-container
{
    height: 217px;
    width: 805px;
    display: flex;
}
#imageContain
{
   margin-top: 25px;
   margin-left: 300px;
}
#errormsg
{
    color:#000000;
    background-color:#ec5564a6;
    
}
.btn-primary,.btn-primary:active,.btn-primary:visited
{
   background-color:#EC5565;
   border-color: #EC5565;
}
.btn-primary:hover
{
    background-color:#D94453;
}
input[type=file]::file-selector-button {
    background-color:#EC5565;
    color:white;
   
  }
input[type=file]::file-selector-button:hover {
    background-color:#D94453;
    color:white;
}